RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_URI} !robots.txt
RewriteCond %{REQUEST_URI} !/config/
RewriteCond %{REQUEST_URI} !/controller/
RewriteCond %{REQUEST_URI} !/css/
RewriteCond %{REQUEST_URI} !/img/
RewriteCond %{REQUEST_URI} !/js/
RewriteCond %{REQUEST_URI} !/libs/
RewriteCond %{REQUEST_URI} !/model/
RewriteCond %{REQUEST_URI} !/view/
RewriteCond %{REQUEST_URI} !/font/
RewriteRule ^(.*)$ index.php?url=%{REQUEST_URI} [L,NC]
